.cartItem {
  display: grid;
  grid-template-columns: 60px 5fr 3fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  text-align: left;
  /* width: 600px; */
}

.cartItem > img {
  height: 40px;
  width: 40px;
}

.cartItem .amountModifier {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItem > .itemPrice {
  text-align: right;
}

.cartItem input {
  text-align: center;
  width: 40px;
  height: 1.3rem;
}

.cartItem > .amountModifier > input::-webkit-outer-spin-button,
.cartItem > .amountModifier > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.removeValidation {
  text-align: center;
}

.removeValidationButtons {
  display: flex;
  justify-content: centerba;
}